services: 
  db: 
    image: mysql:9.3.0
    restart: always 
    environment:
      MYSQL_DATABASE: admin
      MYSQL_USER: root 
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root 
    volumes: 
      - .dbdate:/var/lib/mysql
    ports:
      - 3306:3306
  backend:
      build: . 
      ports:
        - 8000:3000
      volumes: 
        - .:/app
      depends_on:
        - db 
  